# import libraries

In [1]:
import numpy as np
import pandas as pd

## load data and get info

In [2]:
df = pd.read_csv('/kaggle/input/students-performance-in-exams/StudentsPerformance.csv')

In [3]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [5]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [8]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Data Analysis

In [9]:
# Frequency of each item in the gender column
df['gender'].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [10]:
# Frequency of each item in the race/ethnicity column
df['race/ethnicity'].value_counts()

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

In [11]:
# Frequency of each item in the parental level of education column
df['parental level of education'].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [12]:
df['lunch'].value_counts()

lunch
standard        645
free/reduced    355
Name: count, dtype: int64

In [13]:
# Frequency of each item in the test preparation course column
df['test preparation course'].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [14]:
df.groupby('gender')['math score'].value_counts()

gender  math score
female  65            28
        59            21
        62            16
        67            16
        69            16
                      ..
male    42             1
        43             1
        95             1
        96             1
        99             1
Name: count, Length: 147, dtype: int64

In [15]:
df.groupby('gender')['reading score'].value_counts()

gender  reading score
female  72               23
        64               18
        76               18
        58               17
        86               17
                         ..
male    31                1
        91                1
        92                1
        93                1
        97                1
Name: count, Length: 132, dtype: int64

In [16]:
df.groupby('gender')['writing score'].value_counts()

gender  writing score
female  70               24
        74               23
        80               18
        73               17
        76               16
                         ..
male    89                1
        93                1
        95                1
        99                1
        100               1
Name: count, Length: 136, dtype: int64

In [17]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [18]:
df.groupby('race/ethnicity')['gender'].value_counts()

race/ethnicity  gender
group A         male       53
                female     36
group B         female    104
                male       86
group C         female    180
                male      139
group D         male      133
                female    129
group E         male       71
                female     69
Name: count, dtype: int64

In [19]:
df.groupby('race/ethnicity')['lunch'].value_counts()

race/ethnicity  lunch
group A         standard         53
                free/reduced     36
group B         standard        121
                free/reduced     69
group C         standard        205
                free/reduced    114
group D         standard        167
                free/reduced     95
group E         standard         99
                free/reduced     41
Name: count, dtype: int64

In [20]:
df.groupby('race/ethnicity')['test preparation course'].value_counts()

race/ethnicity  test preparation course
group A         none                        58
                completed                   31
group B         none                       122
                completed                   68
group C         none                       202
                completed                  117
group D         none                       180
                completed                   82
group E         none                        80
                completed                   60
Name: count, dtype: int64

In [21]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [22]:
df.groupby('test preparation course')['lunch'].value_counts()

test preparation course  lunch
completed                standard        227
                         free/reduced    131
none                     standard        418
                         free/reduced    224
Name: count, dtype: int64

In [23]:
df.groupby('test preparation course')['race/ethnicity'].value_counts()

test preparation course  race/ethnicity
completed                group C           117
                         group D            82
                         group B            68
                         group E            60
                         group A            31
none                     group C           202
                         group D           180
                         group B           122
                         group E            80
                         group A            58
Name: count, dtype: int64

In [24]:
df.groupby('test preparation course')['gender'].value_counts()

test preparation course  gender
completed                female    184
                         male      174
none                     female    334
                         male      308
Name: count, dtype: int64

In [25]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [26]:
df.groupby('lunch')['gender'].value_counts()

lunch         gender
free/reduced  female    189
              male      166
standard      female    329
              male      316
Name: count, dtype: int64

In [27]:
df.groupby('lunch')['race/ethnicity'].value_counts()

lunch         race/ethnicity
free/reduced  group C           114
              group D            95
              group B            69
              group E            41
              group A            36
standard      group C           205
              group D           167
              group B           121
              group E            99
              group A            53
Name: count, dtype: int64

In [28]:
df.groupby('lunch')['test preparation course'].value_counts()

lunch         test preparation course
free/reduced  none                       224
              completed                  131
standard      none                       418
              completed                  227
Name: count, dtype: int64

In [29]:
df[df['math score'] == 0]['math score'].count()

1

In [30]:
df[df['math score'] == 0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [31]:
df[df['math score'] == 100]['math score'].count()

7

In [32]:
df[df['math score'] == 100]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
149,male,group E,associate's degree,free/reduced,completed,100,100,93
451,female,group E,some college,standard,none,100,92,97
458,female,group E,bachelor's degree,standard,none,100,100,100
623,male,group A,some college,standard,completed,100,96,86
625,male,group D,some college,standard,completed,100,97,99
916,male,group E,bachelor's degree,standard,completed,100,100,100
962,female,group E,associate's degree,standard,none,100,100,100

In [33]:
df['math score'].value_counts()

math score
65    36
62    35
69    32
59    32
61    27
      ..
24     1
28     1
33     1
18     1
8      1
Name: count, Length: 81, dtype: int64

In [34]:
df[df['math score'] < 50]['math score'].count()

135

In [35]:
df[df['math score'] < 50]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
9,female,group B,high school,free/reduced,none,38,60,50
11,male,group D,associate's degree,standard,none,40,52,43
17,female,group B,some high school,free/reduced,none,18,32,28
...,...,...,...,...,...,...,...,...
961,female,group D,some high school,free/reduced,none,48,54,53
973,female,group D,some college,free/reduced,none,49,65,61
980,female,group B,high school,free/reduced,none,8,24,23
986,female,group C,associate's degree,standard,none,40,59,51
988,female,group A,some high school,free/reduced,none,44,45,45

In [36]:
df[df['writing score'] == 0]['writing score'].count()

0

In [37]:
df[df['writing score'] == 100]['writing score'].count()

14

In [38]:
df[df['writing score'] == 100]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
106,female,group D,master's degree,standard,none,87,100,100
114,female,group E,bachelor's degree,standard,completed,99,100,100
165,female,group C,bachelor's degree,standard,completed,96,100,100
179,female,group D,some high school,standard,completed,97,100,100
377,female,group D,master's degree,free/reduced,completed,85,95,100
403,female,group D,high school,standard,completed,88,99,100
458,female,group E,bachelor's degree,standard,none,100,100,100
566,female,group E,bachelor's degree,free/reduced,completed,92,100,100
685,female,group E,master's degree,standard,completed,94,99,100
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100
916,male,group E,bachelor's degree,standard,completed,100,100,100
957,female,group D,master's degree,standard,none,92,100,100
962,female,group E,associate's degree,standard,none,100,100,100
970,female,group D,bachelor's degree,standard,none,89,100,100

In [39]:
df['writing score'].value_counts()

writing score
74    35
70    33
68    31
73    28
80    27
      ..
28     1
35     1
19     1
22     1
23     1
Name: count, Length: 77, dtype: int64

In [40]:
df[df['writing score'] < 50]['writing score'].count()

114

In [41]:
df[df['writing score'] < 50]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
3,male,group A,associate's degree,free/reduced,none,47,57,44
7,male,group B,some college,free/reduced,none,40,43,39
11,male,group D,associate's degree,standard,none,40,52,43
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
...,...,...,...,...,...,...,...,...
921,female,group C,high school,free/reduced,none,35,53,46
928,male,group E,associate's degree,free/reduced,completed,46,43,44
978,male,group D,high school,standard,completed,55,41,48
980,female,group B,high school,free/reduced,none,8,24,23
988,female,group A,some high school,free/reduced,none,44,45,45

In [42]:
bad_score = df[df['math score'] < 50]

In [43]:
bad_score.groupby('race/ethnicity')['math score'].count().sort_values(ascending=False)

race/ethnicity
group C    45
group B    32
group D    29
group A    19
group E    10
Name: math score, dtype: int64

In [44]:
bad_score.groupby('test preparation course')['math score'].count().sort_values(ascending=False)

test preparation course
none         107
completed     28
Name: math score, dtype: int64

In [45]:
bad_score.groupby('lunch')['math score'].count().sort_values(ascending=False)

lunch
free/reduced    96
standard        39
Name: math score, dtype: int64

In [46]:
bad_score.groupby('parental level of education')['math score'].count().sort_values(ascending=False)

parental level of education
some high school      36
high school           33
associate's degree    27
some college          22
bachelor's degree     11
master's degree        6
Name: math score, dtype: int64

## Conclution

Performance Trends: Students generally perform better in reading compared to math and writing. There are noticeable differences in performance across subjects, with reading scores often being higher.

Impact of Parental Education: Higher levels of parental education are positively correlated with better student performance. This suggests that educational support from parents plays a significant role in student success.

Socioeconomic Factors: Students who receive free or reduced lunch tend to have lower scores compared to their peers with standard lunch options. This highlights the impact of socioeconomic status on academic performance.

Effectiveness of Test Preparation: Completion of a test preparation course is associated with improved exam scores. This indicates that such programs are beneficial for enhancing student performance.

Predictive Modeling: Predictive models can effectively forecast student performance based on demographic and educational factors. Key predictors include parental education level and test preparation course completion.